$colorMain_01:#243a4a;
$colorMain_02:#8796a1;
$colorMain_03:#243a4a;
$colorMain_04:#375c78;


$colorButton:#061f31;

$colorText01:#666;
$colorText02:#999;


@mixin Roboto( $value, $line:1.1 ) {
	font-family: 'Roboto', sans-serif;
	font-size:$value;
	line-height:$line;
	font-weight:400;
}

@mixin RobotoBold( $value, $line:1.1 ) {
	font-family: 'Roboto', sans-serif;
	font-size:$value;
	line-height:$line;
	font-weight:700;
}

@mixin RobotoMedium( $value, $line:1.1 ) {
  font-family: 'Roboto', sans-serif;
  font-size:$value;
  line-height:$line;
  font-weight:500;
}

@mixin RobotoCondensed( $value, $line:1.1 ) {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:$value;
	line-height:$line;
	font-weight:400;
}

@mixin RobotoCondensedBold( $value, $line:1.1 ) {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:$value;
	line-height:$line;
	font-weight:700;
}
